body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1180px;
}


main {
    height: 710px;
    width: 1300px;
    margin: 0 auto;


}

p {
    width: 600px;
    font-family: 'New Rocker', sans-serif;
    font-size: 20px;

}

.intro {
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
}

.intro2 {
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
}

.creditos {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 680px;
    right: 1310px; 
    z-index: 1;

}
@media screen and (max-width: 900px) {
    
    
    
    main {
        grid-template-columns: 1fr;
        max-width: 300px;
        height: 810px;
    }

    .intro {
        font-size: 10px;
        max-width: 300px;

    }

    p {
        font-size: 15px;
        max-width: 300px;


    }

    .intro2 {
        font-size: 10px;
        max-width: 300px;
    }

    div {
        display: flex;
        flex-direction: column;

    }

    .photo {
        display: none;


    }

    video {
        
        max-width: 300px;
        top:840px;
        left: 38px;
    }

    h1 {
        font-size: 40px;


    }

    .road {
        font-size: 20px;

    }

    ul a {
        padding: 10px 20px;
        font-size: 10px;
        margin-left: 20px;
    }

footer{
font-size: 10px;

}
    
}
